$font-title: 'Montserrat', sans-serif;
$font-title-description: 'Kaushan Script', cursive;
$font-paragraph: 'Roboto', sans-serif;
$color-title: rgb(51, 51, 51);
$color-paragraph: rgb(153, 153, 153);
$color-main-1: rgb(243, 129, 129);
$color-main-2: rgb(252, 227, 138);
$color-main-3: rgb(149, 225, 211);
$color-main-4: rgb(204, 204, 204);
$color-main-5: rgb(255, 255, 255);