.social {
    @include link-content-alignment;
    width: 56px;
    height: 56px;
    margin-right: 1px;
    background-color: $color-main-2;
    transition: background-color 200ms linear;
  
    &:hover {
      background-color: $color-main-1;
    }
  
    &__icon {
      fill: $color-main-1;
      transition: fill 200ms linear;
    }
  
    &:hover .social__icon {
      fill: $color-main-5;
    }
  }