.subscribe-form {
    display: flex;
    align-items: center;
  
    &__input {
      width: 204px;
      height: 38px;
      padding: 0 12px;
      border: 1px solid $color-main-4;
  
      &::placeholder {
        font-family: $font-paragraph;
        font-style: italic;
        color: $color-main-4;
      }
    }
  
    &__button {
      @extend %button;
      width: 150px;
      height: 40px;
      font-family: $font-title;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      color: $color-main-5;
      background-color: $color-main-3;
    }
  }